body {
  background-color: gray;
  background-image: url("https://lh3.googleusercontent.com/1G2Wn4OLeILGZibi3Ejd9rV68SzhVQoObwVeQHMi3g6OmZgHIp3FjsgEXzElT1cDrFpixkty48EZ0lXCcgyoxWl0ZuY7VKvixKTBcql6cERRmPWHeRxH3RPCcrw9p0jtpjSQAv5XItVW6M6vS2YGsI7koNTOARYQwWf_YwBj3kR1Azhp1Hp_v5lsCTU0Ct9CynmeTibicYM_I4w7IIMtQ7f5kSlXMe-Xr2s4pkm4mfS_4kzkh1_WGJKblq6uS7UtjtkU66FPDIBQC74N-5XG_rSll4LIWeZG-rCEkmI367a-zO51I_Jn41PgkkmyPug63MxGCgb8GD57d2A0pHOdMuF35Q-pINZ8KuFZMFHwZVZ3Wr3oYnF3HMLIUbw2aoStt6e3IzIRYORM-_FNlLwds60hcg7VcQ7mPuGKWo37j9Kp1QE7zx4dY2oELG7-ss1ucHT90bXzUQLKULrGqdQ9seyjBGtx0i5DEvtMbEK8wEYWKSKPPq0rbkGWEkn5ohaqDX4dmjOvVPMr4vJgMymJ9BYoRIPii7195f5i7xVcjxI=w1221-h814-no");
background-repeat:no-repeat;
background-position: center center, center top;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
 #background {
   background-image: url("https://lh3.googleusercontent.com/1G2Wn4OLeILGZibi3Ejd9rV68SzhVQoObwVeQHMi3g6OmZgHIp3FjsgEXzElT1cDrFpixkty48EZ0lXCcgyoxWl0ZuY7VKvixKTBcql6cERRmPWHeRxH3RPCcrw9p0jtpjSQAv5XItVW6M6vS2YGsI7koNTOARYQwWf_YwBj3kR1Azhp1Hp_v5lsCTU0Ct9CynmeTibicYM_I4w7IIMtQ7f5kSlXMe-Xr2s4pkm4mfS_4kzkh1_WGJKblq6uS7UtjtkU66FPDIBQC74N-5XG_rSll4LIWeZG-rCEkmI367a-zO51I_Jn41PgkkmyPug63MxGCgb8GD57d2A0pHOdMuF35Q-pINZ8KuFZMFHwZVZ3Wr3oYnF3HMLIUbw2aoStt6e3IzIRYORM-_FNlLwds60hcg7VcQ7mPuGKWo37j9Kp1QE7zx4dY2oELG7-ss1ucHT90bXzUQLKULrGqdQ9seyjBGtx0i5DEvtMbEK8wEYWKSKPPq0rbkGWEkn5ohaqDX4dmjOvVPMr4vJgMymJ9BYoRIPii7195f5i7xVcjxI=w1221-h814-no");
 background-repeat:no-repeat;
 background-position: center center, center top;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  filter:alpha(opacity=80);
 }
.title {
  font-size: 75px;
  text-transform: uppercase;
  color: #510000;
  font-family: Century Gothic;
text-align: center;
margin-top: 125px;
padding: 25px;
}
.intro {
  font-family: Century Gothic;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}
.intro2 {
  font-family: Century Gothic;
  text-decoration: overline;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.moods {
  font-family: Century Gothic;
  text-align: center;
}
.button {
  display: block;
height: 75px;
width: 250px;
background: #999999;
border: 1px solid #6e5555;
color: rgba(0, 0, 0, 0.55);
text-align: center;
font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
background: linear-gradient(top, #999999, #6e5555);
border-radius: 25px;
box-shadow: 0 6px 0 #3c3636;
text-shadow: 0 2px 2px #7c686c;
}
